<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <form class='modal-form' [formGroup]='form'>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>IP</mat-label>
      <input matInput formControlName='ip' placeholder="111.111.111.111" mask="IP" [dropSpecialCharacters]="false">
      <mat-error *ngIf='form.controls.ip.invalid'>Field IP is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>App</mat-label>
      <input matInput formControlName='app' placeholder="App">
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>User</mat-label>
      <input matInput formControlName='user' placeholder="User">
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>Date</mat-label>
      <input type="datetime-local" matInput formControlName='date'>
      <mat-error *ngIf='form.controls.date.invalid'>Field Date is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>RequestType</mat-label>
      <input matInput formControlName='requestType' placeholder="RequestType">
      <mat-error *ngIf='form.controls.requestType.invalid'>Field RequestType is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>RequestURL</mat-label>
      <input matInput formControlName='requestUrl' placeholder="RequestURL">
      <mat-error *ngIf='form.controls.requestUrl.invalid'>Field RequestURL is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>RequestProtocol</mat-label>
      <input matInput formControlName='requestProtocol' placeholder="RequestProtocol">
      <mat-error *ngIf='form.controls.requestProtocol.invalid'>Field RequestProtocol is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>StatusCode</mat-label>
      <input matInput formControlName='statusCode' placeholder="StatusCode" mask='999'>
      <mat-error *ngIf='form.controls.statusCode.invalid'>Field StatusCode is required</mat-error>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>ContentSize</mat-label>
      <input matInput formControlName='contentSize' placeholder="contentSize" mask='999999999999'>
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>ResponseUrl</mat-label>
      <input matInput formControlName='responseUrl' placeholder="responseUrl">
    </mat-form-field>
    <mat-form-field class='input-full-width' apperance='standard'>
      <mat-label>UserAgent</mat-label>
      <input matInput formControlName='userAgent' placeholder="userAgent">
    </mat-form-field>
  </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="submitData()" cdkFocusInitial>Save</button>
</div>
