<div> 
  <mat-toolbar color="primary">
    <!-- <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->

    <a mat-button class="appName" routerLink="/">
      <span>{{appName}}</span>
    </a>
    <!-- <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="/stock/recommendation">Recomendations</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <a mat-button routerLink="/bankstatement">Logs</a>
      </mat-menu>
    </div> -->
    <span class="example-spacer"></span>
    <div *ngIf="user != null">
      <button mat-button [matMenuTriggerFor]="loginMenu">Bem vindo, {{user}} <mat-icon>account_circle</mat-icon></button>
      <mat-menu #loginMenu="matMenu" yPosition="below">
        <a mat-button routerLink="/logout">Logout</a>
      </mat-menu>
    </div>
    <a *ngIf="user == null" mat-button routerLink="/login">Login</a>
  </mat-toolbar>

  <!-- <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <button mat-button [matMenuTriggerFor]="belowMenu">Manage</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <a mat-button routerLink="/manage/log">Logs</a>
        </mat-menu>
        <mat-divider></mat-divider>
        <div *ngIf="user != null">
          <button mat-button [matMenuTriggerFor]="loginMenu">{{user}} <mat-icon>account_circle</mat-icon></button>
          <mat-menu #loginMenu="matMenu" yPosition="below">
            <a mat-button routerLink="/logout">Logout</a>
          </mat-menu>
        </div>
        <a *ngIf="user == null" mat-button routerLink="/login">Login</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>


