.editar-icon {
    cursor: pointer;
    color: #0d47a1;
}

.remover-icon {
    cursor: pointer;
    color: #b71c1c;
}

.container {
    width: 80%;
    margin: 0 auto; 
}

.insert-btn {
    float: right;
    margin-bottom: 25px;
    padding-left: 25px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.filter-btn {
    float: left;
    margin-bottom: 25px;
    padding-left: 25px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

table {
    width: 100%;
}

td {
    text-align: left;
}

.mat-row {
    height: auto;
}

.mat-header-cell {
    padding: 15px 15px 15px 0;
}
  
.mat-cell {
    padding: 15px 15px 15px 0;
}

.mat-form-field {
    margin: 15px 15px 15px 0;
}

// .input-half-width {
//     padding: 15px 15px 15px 0;
// }